
**/.env
**/firebase.js

**/build/
**/dist/

Thumbs.db

jest.config.js
setupTests.js

.env.local
.env.development
.env.test
.env.production

lab5/frontend
lab5/backend/firebase/serviceAccountKey.json
lab5/frontend/src/firebase/firebase.js